/** Base rules **/

body {
    padding-top: 50px;
    background-color: #333;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}


/** Layout rules **/

.main-container {
    padding-top: 30px;
    padding-bottom: 30px;
}


/**
 * ------------------
 * -- Module rules --
 * ------------------
 **/


/** Module 'Place-holder Message' **/

.place-holder-msg {
    text-align: center;
    color: #999;
    height: 150px;
    padding-top: 50px;
}

.place-holder-msg small {
    display: block;
    margin-top: 6px;
    line-height: 1.3em;
}


/** Module 'Album List' **/

.panel-albums-list {
    position: relative;
}

.btn-add-album {
    position: absolute;
    top: 7px;
    right: 7px;
}

.panel-albums-list>.panel-body {
    min-height: 200px;
}

.panel-albums-list-area {
    display: none;
}


/* State rules for 'Album List' */

.panel-albums-list.has-items .panel-album-list-msg-empty {
    display: none;
}

.panel-albums-list.has-items .panel-albums-list-area {
    display: block;
}


/** Module 'Album Item' **/

.album-item {
    position: relative;
    margin-bottom: 10px;
    max-width: 230px;
}

.album-item-img {}

.album-item-details {
    padding: 3px;
}

.album-item-details-name {
    display: block;
    text-align: center;
}

.album-item-details-total {
    display: block;
    text-align: center;
}

.btn-view-album {}

.btn-delete-album {
    position: absolute;
    right: 0px;
    bottom: 19px;
    background-color: #fff;
}

.btn-delete-album:hover {
    color: red;
}


/** Module 'Panel Photos' **/

.panel-photos {}

.panel-photos-title {}

.btn-slide-show {
    position: absolute;
    top: 7px;
    right: 30px;
}

.panel-photos>.panel-body {
    min-height: 240px;
}

.panel-photos-msg-no-album-selected {
    display: block;
}

.panel-photos-msg-empty {
    display: none;
}

.panel-photos-main-area {
    display: none;
    margin-top: -15px;
    margin-bottom: 20px;
}

.panel-photos-main-area>.row>div {
    margin-top: 15px;
    margin-bottom: 15px;
}


/** Module 'Photo Item' **/

.photo-item {
    position: relative;
}

.photo-item-img {}

.btn-delete-photo, .btn-delete-photo:active, .btn-delete-photo:focus, .btn-delete-photo:hover {
    position: absolute;
    top: 0px;
    right: 15px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.photo-item:hover>.btn-delete-photo {
    color: red;
    background-color: #fff;
}


/* State rules for 'Panel Photos' */

.panel-photos.album-selected .panel-photos-msg-no-album-selected {
    display: none;
}

.panel-photos.album-selected .panel-photos-msg-empty {
    display: block;
}

.panel-photos.album-selected.has-photos .panel-photos-msg-empty {
    display: none;
}

.panel-photos.album-selected.has-photos .panel-photos-main-area {
    display: block;
}


/** Module 'Search Area' **/

.search-area {}

.search-area-input {}

.btn-do-search {}

.search-area-results {
    background: #eaeaea;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
}

.search-area-results>h4 {
    color: #666;
    font-size: 16px;
    margin: 0px;
}

.search-area-results>.row>div {
    margin-top: 15px;
    margin-bottom: 15px;
}


/** Module 'Slide Show' **/

.slide-show {}

.slide-show>.slide {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50%;
    margin: 100px 25%;
    z-index: 100;
    border-radius: 10px;
}

.slide-show .carousel-inner {
    background-color: #333;
    border-radius: 10px;
}

.slide-show .left.carousel-control {
    border-radius: 10px;
}

.slide-show .right.carousel-control {
    border-radius: 10px;
}

.btn-close-slide-show {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 105;
    border: none;
    border-radius: 25px;
}

.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 95;
    background-color: rgba(0, 0, 0, .8);
}
